@import url("./catppuccin.css");

* {
    font-size: 16px;
}

window#waybar {
    all: unset;

    font-family: "TX02 Nerd Font";
    background: alpha(@base, 0.75);
    color: @text;
}

tooltip {
    background: alpha(@base, 0.75);
    color: @text;
}

tooltip label {
    color: @text;
}

.modules-left {
    padding-left: 10px;
}

label.module {
    padding: 0 7px;
}

/* idle inhibitor */
#idle_inhibitor {
    min-width: 20px;
}

/* system tray */
#tray {
    padding: 0 9px;

    -gtk-icon-shadow:
        -1px 0 @base,
        0 1px @base,
        1px 0 @base,
        0 -1px @base;
}

#tray image {
    padding: 0 1px;
}

#tray menu {
    background: @base;
    font-family: "SF Pro Display";
    font-size: 13px;
    color: @text;
}

#tray menu *:disabled {
    color: @overlay1;
}

/* right-side */
.modules-right {
    color: @base;
}

.modules-right label.module {
    min-width: 20px;
}

.modules-right > :nth-last-child(6n - 5) {
    background-color: alpha(@red, 0.75);
}

.modules-right > :nth-last-child(6n - 4) {
    background-color: alpha(@peach, 0.75);
}

.modules-right > :nth-last-child(6n - 3) {
    background-color: alpha(@yellow, 0.75);
}

.modules-right > :nth-last-child(6n - 2) {
    background-color: alpha(@green, 0.75);
}

.modules-right > :nth-last-child(6n - 1) {
    background-color: alpha(@sapphire, 0.75);
}

.modules-right > :nth-last-child(6n - 0) {
    background-color: alpha(@lavender, 0.75);
}
