@import url("./catppuccin.css");

* {
    font-size: 16px;
}

window#waybar {
    all: unset;
    color: @text;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 7px;
    border-radius: 10px;
    background: @base;
}

.modules-left {
    margin: 10px 0 5px 10px;
}

.modules-center {
    margin: 10px 0 5px 0;
}

.modules-right {
    margin: 10px 10px 5px 0;
}

label.module,
#tray > .passive,
#tray > .active,
#tray > .needs-attention {
    padding: 0 7px;
}
